body {
  background-color: rgb(240, 240, 240) !important;
}

.card-shadow {
  margin-bottom: 24px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border: none;
}

.title-card-style {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}

.btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 75%;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 24px;
}

.video-wight {
  width: 100%;
}

@media (min-width: 768px) {
  .video-wight {
    width: 400px;
  }
}
