#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
  overflow: hidden;
}

body {
  height: 100vh;
  margin: 0 !important;
}

.container-general {
  min-height: 100%;
  position: relative;
  width: 100%;
}

.container-layout {
  position: absolute;
  z-index: 5;
  height: calc(100vh - 300px);
  top: 37%;
  width: 90%;
  margin: 0% 5%;
}

.content-style {
  height: "160px";
  color: "#fff";
  line-height: "160px";
  text-align: "center";
  background: "#364d79";
}

.navbar {
  display: flex;
  background: linear-gradient(to right, #00270f, #006523);
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 5px 5px 10px #00210d, -5px -5px 10px #002d11;
}

.img-container {
  display: flex;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 50;
  justify-content: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5) !important;
  align-items: center;
  border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
}

.card-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px !important;
  height: 150px !important;
  border-radius: 30px !important;
  background: #ffffff !important;
  box-shadow: 2px 2px 10px #d9d9d9, -2px -2px 10px #d9d9d9 !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -ms-border-radius: 30px !important;
  -o-border-radius: 30px !important;

  .ant-card-body {
    display: flex !important;
    height: 100% !important;
    flex-direction: column !important;
    align-items: center !important;
    align-content: center !important;
    justify-content: center !important;
  }
}

.text-font-40 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #333333;
}

.text-font-12 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #333333;
}

.text-font-14 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #308113;
}

.container-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-around;
}

.carousel-container {
  height: 300px !important;
  max-height: 400px !important;
  margin-bottom: 40px;
  border-radius: 30px !important;
  background: #ffffff !important;
  box-shadow: 0px 0px 10px #d9d9d9, 0px 0px 10px #d9d9d9 !important;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -ms-border-radius: 30px !important;
  -o-border-radius: 30px !important;
  .slick-list {
    border-radius: 30px !important;
    -webkit-border-radius: 30px !important;
    -moz-border-radius: 30px !important;
    -ms-border-radius: 30px !important;
    -o-border-radius: 30px !important;
  }
}

.video-container {
  z-index: 1;
  position: relative;
  top: -160px;
}

.button-newspaper {
  background: #308113;
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 20px;
  width: 200px;
  height: 40px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  box-shadow: 2px 2px 10px #c0c0c0, -2px -2px 10px #c0c0c0 !important;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  &:hover {
    background: #21520b !important;
    box-shadow: 2px 2px 8px #1c4409, -2px -2px 8px #1c4409 !important;
  }
}

.button-carousel {
  height: 100%;
  border: none;
  border-radius: 60px !important;
}

@media (min-width: 3840px) {
  .container-layout {
    height: calc(100vh - 900px);
    top: 35%;
    width: 80%;
    margin: 0% 10%;
    position: absolute;
    z-index: 5;
  }

  .card-items {
    width: 700px !important;
    height: 300px !important;
    border-radius: 50px !important;
    box-shadow: 4px 4px 20px #d9d9d9, -4px -4px 20px #d9d9d9 !important;
  }

  .container-row {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    justify-content: space-around;
  }

  .text-font-40 {
    font-family: "Montserrat", sans-serif;
    font-size: 120px;
    font-weight: 700;
    color: #333333;
  }

  .text-font-12 {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: #333333;
  }

  .text-font-14 {
    font-family: "Montserrat", sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #308113;
  }

  .img-container {
    display: flex;
    width: 250px;
    height: 250px;
    contain: content;
    padding: 30px;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 50;
    justify-content: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5) !important;
    align-items: center;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
  }

  .carousel-container {
    height: 800px !important;
    max-height: 800px !important;
    margin-bottom: 60px;
    border-radius: 60px !important;
    background: #ffffff !important;
    box-shadow: 0px 0px 30px #d9d9d9, 0px 0px 30px #d9d9d9 !important;
    -webkit-border-radius: 60px !important;
    -moz-border-radius: 60px !important;
    -ms-border-radius: 60px !important;
    -o-border-radius: 60px !important;
    .slick-list {
      border-radius: 30px !important;
      -webkit-border-radius: 30px !important;
      -moz-border-radius: 30px !important;
      -ms-border-radius: 30px !important;
      -o-border-radius: 30px !important;
    }
  }

  .video-container {
    z-index: 1;
    position: relative;
    top: -480px;
  }

  .button-newspaper {
    background: #308113;
    color: #fff;
    border-radius: 60px !important;
    padding: 10px 50px;
    font-size: 50px;
    width: 25%;
    height: 25%;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    box-shadow: 2px 2px 10px #c0c0c0, -2px -2px 10px #c0c0c0 !important;
    -webkit-border-radius: 60px !important;
    -moz-border-radius: 60px !important;
    -ms-border-radius: 60px !important;
    -o-border-radius: 60px !important;
    &:hover {
      background: #21520b !important;
      box-shadow: 2px 2px 8px #1c4409, -2px -2px 8px #1c4409 !important;
    }
  }
}
